.title {
  margin-bottom: 10px;
  color: var(--color-text-2);
}

.country {
  overflow: hidden;
  cursor: pointer;

  &:first-child {
    margin-top: 15px;
  }

  & > :last-child {
    margin-bottom: 3px;
  }

  &__header {
    position: relative;
    color: var(--color-text-1);

    &::before {
      content: '';
      position: absolute;
      display: none;
      top: 5px;
      right: 5px;
      border-style: solid;
      border-width: 7px 8px 0px 7px;
      border-color: var(--color-text-1) transparent transparent transparent;
    }

    &:hover {
      background-color: var(--color-background-2-hover);
      &:before {
        display: block;
      }
    }

    &.expanded {
      &::before {
        display: block;
        transform: rotateZ(180deg);
      }
    }
  }

  &__leagues {
    height: 0;
    font-size: 14px;

    &.expanded {
      height: auto;
      min-height: 10px;
    }
  }

  &__league {
    padding: 1px 0 1px 4px;
    color: var(--color-text-3);

    &:hover {
      color: var(--color-text-2);
    }

    &:last-of-type {
      margin-bottom: 5px;
    }
  }
}

.moreBtn {
  position: relative;
  margin-top: 5px;
  width: max-content;
  font-size: 13px;
  cursor: pointer;
  text-decoration: underline;
  color: var(--color-text-2);

  &:hover {
    text-decoration: none;
  }

  &::before {
    content: '';
    position: absolute;
    top: 4px;
    right: -15px;
    border-style: solid;
    border-width: 6px 6px 0px 6px;
    border-color: var(--color-text-1) transparent transparent transparent;
  }

  &.expanded {
    &::before {
      transform: rotateZ(180deg);
    }
  }
}
