<div class="container">
  <div class="title">Страны</div>
  <app-divider></app-divider>
  <div class="list">
    <ng-container *ngIf="leaguesByCountry">
      <div
        *ngFor="let country of leaguesByCountry | slice : 0 : (more ? undefined : 2); let i = index"
        class="country"
      >
        <div
          (click)="toggleCollapsed(i)"
          [class.expanded]="expandedList.has(i)"
          class="country__header"
        >
          {{ country.nameRu }}
        </div>
        <div
          *ngIf="country.leagues"
          [class.expanded]="expandedList.has(i)"
          class="country__leagues"
        >
          <div *ngFor="let league of country.leagues" class="country__league">
            {{ league.name }}
          </div>
          <app-divider></app-divider>
        </div>
      </div>
      <div (click)="more = !more" [class.expanded]="more" class="moreBtn">
        {{ more ? 'Свернуть' : 'Больше' }}
      </div>
    </ng-container>
  </div>
</div>
