.navMenu {
  display: grid;
  grid-template: '. content .' auto / 1fr var(--width-layout) 1fr;
  grid-area: content;
  background-color: var(--color-main-default);

  &__content {
    grid-area: content;
    display: grid;
    grid-template-rows: 48px;
    grid-template-columns: auto 1fr auto;
    padding: 10px 15px 0px;
    box-sizing: border-box;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
  }

  &__item {
    position: relative;
    height: 100%;
    display: flex;
    align-items: start;
    margin-right: 28px;
    text-decoration: none;
    color: var(--color-grey);
    font-size: 13px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;

    &.active {
      &::before {
        position: absolute;
        content: '';
        bottom: 0;
        width: 100%;
        height: 3px;
        background-color: var(--color-accent-default);
        border-radius: 3px;
      }
    }

    &.active,
    &:hover {
      color: var(--color-white);
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__text {
    margin-left: 8px;
    line-height: 28px;
  }
}

.minorityContainer {
  position: relative;
  height: 48px;
  cursor: pointer;
  border-radius: 10px;

  &__text {
    line-height: 28px;
  }

  &__content {
    display: none;
    background-color: var(--color-background-1);
    border-radius: 8px;
    box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.1);
    column-count: 3;
    column-gap: 12px;
    padding: 12px;
    position: absolute;
    right: 0;
    top: calc(100% - 12px);
    z-index: var(--zIndex-menuMinority);
    &.opened {
      display: block;
    }
  }
}

.link {
  display: grid;
  grid-template:
    ' . . . . . . . ' 8px
    ' . icon . text . count . ' 20px
    ' . . . . . . . ' 8px/14px 20px 8px max-content 4px max-content 14px;
  align-items: center;
  break-inside: avoid;
  width: max-content;
  color: var(--color-text-3);
  text-decoration: none;
  margin-bottom: 5px;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background-color: var(--color-background-2);
  }

  &:hover &__count {
    background-color: var(--color-background-4);
    color: var(--color-background-1);
  }

  &__icon {
    grid-area: icon;
  }

  &__text {
    grid-area: text;
  }

  &__count {
    grid-area: count;
    background-color: var(--color-background-1);
    color: var(--color-background-4);
    min-width: 16px;
    padding: 2px;
    place-self: center;
    text-align: center;
    border-radius: 4px;
    font-size: 10px;
    font-weight: 700;
    line-height: 16px;
  }
}
