<nav class="navMenu">
  <div class="navMenu__content">
    <!-- FAVOURITES -->
    <a href="" class="navMenu__item">
      <img class="navMenu__icon" src="../../../assets/icons/star.svg" alt="" />
      <span class="navMenu__text">избранное</span>
    </a>

    <!-- TITLE SPORTS -->
    <div class="navMenu__items">
      <ng-container *ngFor="let sport of sports">
        <a
          (click)="selectSport(sport.category)"
          [class.active]="sport.category === selectedSport"
          class="navMenu__item"
          [routerLink]="['events', sport.category]"
        >
          <img class="navMenu__icon" src="../../../assets/icons/{{ sport.category }}.svg" alt="" />
          <span class="navMenu__text">{{ sport.categoryRu }}</span>
        </a>
      </ng-container>
    </div>

    <!-- MINORITY SPORTS -->
    <div (appClickOutside)="isOpened = false" class="navMenu__item">
      <div (click)="toggleOpened()" class="minorityContainer">
        <span class="minorityContainer__text">Больше +</span>
        <div *ngIf="isOpened" [class.opened]="isOpened" class="minorityContainer__content">
          <a
            *ngFor="let sport of sports"
            (click)="selectSport(sport.category)"
            class="link"
            href="#"
          >
            <img class="link__icon" src="../../../assets/icons/{{ sport.category }}.svg" alt="" />
            <span class="link__text">{{ sport.categoryRu | uppercase }}</span>
            <span class="link__count">{{ sport.todayTotal }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
