<div (appClickOutside)="isOpened = false" class="container">
  <div [class.opened]="isOpened" (click)="toggleOpened()" class="burgerContainer">
    <div class="line top"></div>
    <div class="line main"></div>
    <div class="line bottom"></div>
  </div>
  <ng-container *ngIf="isOpened">
    <div class="contextMenu">
      <div (click)="openSettings()" class="contextMenu__row">
        <img
          class="contextMenu__icon"
          src="../../../assets/icons/settings.svg"
          alt="Settings logo"
        />
        <div class="contextMenu__text">Настройки</div>
        <div class="contextMenu__action">></div>
      </div>
      <div class="contextMenu__row">
        <img class="contextMenu__icon" src="../../../assets/icons/moon.svg" alt="Moon logo" />
        <div class="contextMenu__text">Темный режим</div>
        <div class="contextMenu__action">
          <app-toggle (click)="toggleTheme()" [(isEnabled)]="isDarkTheme"></app-toggle>
        </div>
      </div>
    </div>
  </ng-container>
</div>
