.container {
  position: relative;
}

.burgerContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--color-burger);
  color: var(--color-grey);
  border-radius: 5px;
  cursor: pointer;

  &:not(.burgerContainer.opened):hover {
    background-color: var(--color-burger-hover);
  }

  & .line {
    position: relative;
    width: 20px;
    height: 3px;
    background-color: var(--color-grey);
    border-radius: 5px;
    transition: 0.2s ease-in-out;
  }

  & .main {
    margin: 3px 0;
  }

  &.opened {
    color: var(--color-main-dark);
    background-color: var(--color-burger-2);

    & .main {
      display: none;
    }

    & .top,
    & .bottom {
      background-color: var(--color-text-1);
    }

    & .top {
      top: 3px;
      transform: rotateZ(-45deg);
    }

    & .bottom {
      transform: rotateZ(45deg);
    }
  }
}

.contextMenu {
  position: absolute;
  top: calc(100% + 20px);
  right: 0;
  display: grid;
  grid-auto-flow: row;
  padding: 10px;
  border-radius: 10px;
  color: var(--color-text-1);
  background-color: var(--color-menu);
  z-index: var(--zIndex-burgerContent);
  box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.1);

  &__row {
    display: grid;
    grid-template: 'icon text action' 50px / 50px minmax(200px, 1fr) 50px;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: var(--color-menu-hover);
    }
  }

  &__icon {
    grid-area: icon;
    place-self: center;
    width: 20px;
    height: 20px;
  }

  &__text {
    grid-area: text;
  }

  &__action {
    grid-area: action;
    place-self: center;
  }
}
