.button {
  height: 40px;
  padding: 5px 10px;
  background-color: var(--color-main-light);
  color: var(--color-white);
  overflow: hidden;
  text-transform: uppercase;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
  line-height: 20px;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: var(--color-main-dark);
  }

  &__content {
    display: flex;
    align-items: center;
    column-gap: 5px;
    height: 20px;
    font-size: 12px;
  }

  &__icon {
    height: 100%;
  }
}
