<button class="button">
  <div class="button__content">
    <div class="button__icon">
      <ng-content select="[icon]"></ng-content>
    </div>
    <ng-container *ngIf="buttonText">{{ buttonText }}</ng-container>
  </div>
</button>
