<app-accordion [collapsing]="false" [withGap]="true">
  <div
    appAccordionItem
    *ngFor="let eventData of events"
    [expanded]="checkHighRate(eventData.league.rate)"
  >
    <!-- START ACCORDION HEADER -->
    <ng-template
      appAccordionHeader
      *ngIf="eventData.events.length"
      let-toggle="toggle"
      let-expanded="expanded"
    >
      <app-events-header
        [isHighlighted]="checkHighRate(eventData.league.rate)"
        [isInFavourites]="checkInFavourites(eventData.league.rate)"
        [logo]="eventData.country.flag"
        [country]="eventData.country.nameRu"
        [league]="eventData.league.name"
      >
        <div expandBtn (click)="toggle()" [class.expanded]="expanded" class="btn">&#709;</div>
      </app-events-header>
    </ng-template>
    <!-- END ACCORDION HEADER -->

    <!-- START ACCORDION CONTENT -->
    <ng-template appAccordionContent>
      <app-events-item *ngFor="let event of eventData.events" [event]="event"></app-events-item>
    </ng-template>
    <!-- END ACCORDION CONTENT -->
  </div>
</app-accordion>
