<header class="headerContainer">
  <div class="headerContainer__content">
    <a class="headerContainer__logoWrapper" [routerLink]="['/']">
      <img class="headerContainer__logo" src="../../../assets/logo.png" alt="Main logo" />
      <span class="headerContainer__title">yourscore</span>
    </a>
    <app-button (click)="onSearchClick()">
      <img icon src="../../../assets/icons/search.svg" alt="Search icon" />
    </app-button>
    <app-button (click)="onLoginClick()" [buttonText]="'вход'">
      <img icon src="../../../assets/icons/person.svg" alt="Persdon icon" />
    </app-button>
    <app-burger-menu></app-burger-menu>
  </div>
</header>
<app-nav-menu></app-nav-menu>
<ng-template #search>
  <app-search></app-search>
</ng-template>
<ng-template #login>
  <app-login></app-login>
</ng-template>
