.headerContainer {
  display: grid;
  grid-template: '. content .' auto / 1fr var(--width-layout) 1fr;
  background-color: var(--color-main-default);

  &__content {
    grid-area: content;
    display: grid;
    grid-template-rows: 40px;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    grid-gap: 8px;
    padding: 25px 15px 20px;
    box-sizing: border-box;
  }

  &__logoWrapper {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  &__logo {
    width: 40px;
    height: 40px;
  }

  &__title {
    margin-left: 10px;
    color: var(--color-white);
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
  }
}
