<div class="overlay">
  <div class="modal">
    <div class="modal__header">
      <span class="modal__title">{{ title }}</span>
      <span (click)="close()" class="modal__close">X</span>
    </div>
    <app-divider></app-divider>
    <div class="modal__body">
      <ng-template #modal></ng-template>
    </div>
  </div>
</div>
