.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: var(--zIndex-modal-overlay);
}

.modal {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 30%;
  max-height: 70%;
  padding: 10px;
  background-color: #fff;

  &__header {
    padding: 5px 10px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__close {
    cursor: pointer;
  }

  &__body {
    flex-grow: 1;
    padding: 5px 10px;
    overflow-y: auto;
  }
}
