.toggle {
  position: relative;
  height: 18px;
  width: 32px;
  background-color: var(--color-background-3);
  border-radius: 10px;
  cursor: pointer;

  &::before {
    position: absolute;
    content: '';
    left: 4px;
    top: calc(50% - 6px);
    width: 12px;
    height: 12px;
    background-color: var(--color-background-4);
    border-radius: 50%;
    transition: 0.2s ease-in-out;
  }

  &--enabled {
    background-color: var(--color-success-default);
    &:before {
      left: calc(100% - 16px);
      background-color: var(--color-white);
    }
  }
}
