.accordion {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__item {
    overflow: hidden;
    &.withGap {
      margin-bottom: 20px;
    }
  }

  &__content {
    max-height: 0;
    opacity: 0;
    transition: max-height 0.5s ease-in-out, opacity 0.1s ease-out;

    &.expanded {
      max-height: 800px;
      opacity: 1;
    }
  }
}
