<div class="accordion">
  <div
    *ngFor="let item of items; index as i"
    [class.withGap]="withGap"
    [class.active]="expandedList.has(i)"
    class="accordion__item"
  >
    <ng-container
      [ngTemplateOutlet]="item?.header?.templateRef || null"
      [ngTemplateOutletContext]="{
        $implicit: item,
        toggle: toggleCollapsed(i),
        expanded: expandedList.has(i)
      }"
    >
    </ng-container>
    <div [class.expanded]="expandedList.has(i)" class="accordion__content">
      <ng-container [ngTemplateOutlet]="item?.content?.templateRef || null"></ng-container>
    </div>
  </div>
</div>
