<footer class="footerContainer">
  <div class="footerContainer__content">
    <div class="promo">
      <div class="promo__block promo__block--project">
        <div class="promo__title">yourscore.com</div>
        <div class="promo__content promo__content--columns-2">
          <a class="link" [routerLink]="['']">Пользовательское соглашение</a>
          <a class="link" [routerLink]="['']">Политика конфиденциальности</a>
          <a class="link" [routerLink]="['']">GDPR</a>
          <a class="link" [routerLink]="['']">Реклама</a>
          <a class="link" [routerLink]="['']">Контакты</a>
          <a class="link" [routerLink]="['']">Для телефонов</a>
          <a class="link" [routerLink]="['']">Livescore</a>
          <a class="link" [routerLink]="['']">Рекоменд. сайты</a>
          <a class="link" [routerLink]="['']">FAQ</a>
        </div>
      </div>
      <div class="promo__block promo__block--social">
        <div class="promo__title">подписывайся</div>
        <div class="promo__content">
          <a class="link" href="#" target="_blank" rel="noopener noreferrer">
            <img src="../../../assets/twitter.svg" alt="Twitter logo" />
            <span class="link__text">Твиттер</span>
          </a>
          <a class="link" href="#" target="_blank" rel="noopener noreferrer">
            <img src="../../../assets/vk.svg" alt="Vkontakte logo" />
            <span class="link__text">Vkontakte</span>
          </a>
        </div>
      </div>
      <div class="promo__block promo__block--apps">
        <div class="promo__title">мобильные приложения</div>
        <div class="promo__content">
          <div class="description">
            <span>Наше приложение оптимизировано под ваш телефон. Скачайте бесплатно!</span>
          </div>
          <div class="apps">
            <a class="storeLink" href="#" target="_blank" rel="noopener noreferrer">
              <img
                class="storeLink__image"
                src="../../../assets/app_store.svg"
                alt="App store image link"
              />
            </a>
            <a class="storeLink" href="#" target="_blank" rel="noopener noreferrer">
              <img
                class="storeLink__image"
                src="../../../assets/google_play.svg"
                alt="Google play image link"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footer__content">
        <div class="footer__alternatives">
          <a class="footer__link" href="#" target="_blank" rel="noopener noreferrer">Lite версия</a>
        </div>
        <div class="footer__advert">
          <div class="footer__advertGambling">
            Ставьте ответственно.
            <a class="footer__link" href="#" target="_blank" rel="noopener noreferrer"
              >Gambling Therapy</a
            >
            18+
          </div>
        </div>
        <div class="footer__copyright">
          <div class="footer_notice">
            C 01.04.2023 Livesport s.r.o.стал оператором этого сервиса
          </div>
          <div class="footer__copyrightText">Copyright © 2006-23 Yourscore.com</div>
          <div class="footer__privacy">
            <span class="footer__privacyButton footer__link">Установить конфиденциальность</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footerContainer__block"></div>
  <a class="footerContainer__mobileScreen">
    <img src="../../../assets/mobile_screen.png" alt="Mobile screen" />
  </a>
</footer>
