.footerContainer {
  position: relative;
  display: grid;
  grid-template: '. content .' auto/1fr var(--width-layout) 1fr;
  background: var(--color-background-footer);
  font-size: 13px;
  color: var(--color-text-3);

  &__content {
    grid-area: content;
  }

  &__block {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 150px;
    width: calc(50% - 200px);
    clip-path: polygon(140px 0, 100% 0, 100% 100%, 0 100%);
    background-color: var(--color-main-default);
  }

  &__mobileScreen {
    position: absolute;
    bottom: 0px;
    right: calc(50% - 480px);
    height: 240px;
    width: 190px;
    cursor: pointer;
    border-radius: 30px;
    transition: 0.2s ease-in-out;

    &:hover {
      bottom: 7px;
      transform: scale(1.05);
      box-shadow: 2px 0 5px var(--color-main-default);
    }

    & img {
      height: inherit;
      width: inherit;
    }
  }
}

.promo {
  display: grid;
  grid-template: 'project social apps' minmax(200px, auto) / 435px 260px auto;
  padding: 65px 15px 45px;

  &__block--project {
    grid-area: project;
  }

  &__block--social {
    grid-area: social;
  }

  &__block--apps {
    grid-area: apps;
  }

  &__title {
    color: var(--color-text-4);
    font-weight: 700;
    letter-spacing: 0.4px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  &__content {
    &--columns-2 {
      column-count: 2;
    }
  }
}

.link {
  display: flex;
  align-items: center;
  padding: 10px 0;
  text-decoration: none;
  color: var(--color-text-3);

  &:hover {
    text-decoration: underline;
  }

  &__text {
    margin-left: 5px;
  }
}

.description {
  padding: 10px 0;
}

.apps {
  display: grid;
  row-gap: 10px;
}

.storeLink {
  width: 85px;
  height: 30px;

  &:hover {
    filter: brightness(130%);
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.footer {
  height: 100px;
  font-size: 12px;
  color: var(--color-text-3);

  &__content {
    border-top: 1px solid var(--color-text-4);
    padding: 25px 15px;
    display: grid;
    grid-template:
      '. advert .' auto
      'alternatives copyright .' auto / 220px 1fr 340px;
  }

  &__alternatives {
    grid-area: alternatives;
  }

  &__advert {
    grid-area: advert;
  }

  &__advertGambling {
    margin-bottom: 10px;
  }

  &__copyright {
    grid-area: copyright;
    display: flex;
    flex-wrap: wrap;
  }

  &__notice {
    width: 100%;
  }

  &__privacy {
    position: relative;
    margin-left: 16px;

    &::before {
      position: absolute;
      content: '';
      width: 1px;
      height: 80%;
      top: 10%;
      left: -8px;
      background-color: var(--color-text-2);
    }
  }

  &__link {
    color: var(--color-text-4);
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }
}
