.container {
  display: grid;
  grid-template: '. content .' auto / 1fr var(--width-layout) 1fr;
}

.content {
  display: grid;
  grid-area: content;
  grid-template: 'menu table .' auto / 155px 700px auto;
  padding-top: 24px;
  position: relative;

  &__menu {
    grid-template: menu;
    padding: 0 10px 0 15px;
  }

  &__table {
    grid-template: table;
  }

  &__banner {
    padding: 0 10px;
  }
}

.table {
  position: relative;
  height: 100%;
  margin-top: 20px;
  padding: 10px 15px;
  background-color: var(--color-background-1);
  border-radius: 10px;

  &__container {
    height: 100%;
  }

  &__calendar {
    position: absolute;
    top: 10px;
    right: 30px;
  }
}

.banner {
  position: sticky;
  top: 24px;
  width: 100%;
  height: 300px;
  background-color: rgb(255, 244, 244);
}

.banner-2 {
  position: sticky;
  top: 0;
  height: 50px;
  background-color: rgb(255, 244, 244);
  z-index: var(--zIndex-banner);
}

.scrollTop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 50px;
  height: 50px;
  right: 0;
  bottom: 200px;
  opacity: 0;
  background-color: var(--color-main-light);
  color: var(--color-white);
  overflow-wrap: break-word;
  text-align: center;
  border-radius: 10px;
  z-index: var(--zIndex-scrollTop);
  transition: 0.2s cubic-bezier(0.77, -0.42, 0, 1.61);
  cursor: pointer;

  &.show {
    opacity: 1;
    right: 150px;
  }
}
