<div class="container">
  <div class="content">
    <aside class="content__menu">
      <app-events-menu [leaguesByCountry]="leaguesByCountry$ | async"></app-events-menu>
    </aside>
    <main class="content__table">
      <div class="banner-2">BANNNER</div>
      <div class="table">
        <div class="table__container">
          <app-tabs (tabSelection)="selectedTab.next($event)">
            <app-tab title="all" [contentRef]="all"></app-tab>
            <app-tab title="live" [contentRef]="live"></app-tab>
            <app-tab title="completed" [contentRef]="completed"></app-tab>
          </app-tabs>
          <div class="table__calendar">
            <app-events-calendar (dateSelection)="getEvents($event)"></app-events-calendar>
          </div>
        </div>
      </div>
    </main>
    <div class="content__banner">
      <div class="banner">BANNER</div>
    </div>
  </div>
  <div (click)="scrollTop()" [class.show]="showScrollTop$ | async" class="scrollTop">
    Scroll to top
  </div>
</div>

<ng-template #all>
  <ng-container *ngIf="filteredEvents$ | async as filteredEvents">
    <app-events-list [events]="filteredEvents"></app-events-list>
  </ng-container>
</ng-template>
<ng-template #live>
  <ng-container *ngIf="filteredEvents$ | async as filteredEvents">
    <app-events-list [events]="filteredEvents"></app-events-list>
  </ng-container>
</ng-template>
<ng-template #completed>
  <ng-container *ngIf="filteredEvents$ | async as filteredEvents">
    <app-events-list [events]="filteredEvents"></app-events-list>
  </ng-container>
</ng-template>
