<div class="tabs">
  <div class="nav">
    <div
      (click)="selectTab(tab)"
      *ngFor="let tab of tabs"
      [ngClass]="{ active: tab === activeTab }"
      class="nav__item"
    >
      {{ tab.title }}
    </div>
  </div>
  <div class="content">
    <ng-template [ngTemplateOutlet]="activeTab.contentRef"></ng-template>
  </div>
</div>
