.tabs {
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  &__item {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    margin-right: 10px;
    background-color: var(--color-background-3);
    color: var(--color-text-2);
    border-radius: 10px;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      background-color: var(--color-background-1-hover);
    }
  }

  &__item.active {
    background-color: var(--color-accent-default);
    color: var(--color-white);
    cursor: default;
  }
}
