<div [class.highlighted]="isHighlighted" class="container">
  <div [class.inFavourites]="isInFavourites" class="popup"></div>
  <div class="title">
    <span class="title__logo">{{ logo }}</span>
    <span class="title__country">{{ country }}</span>
    <span class="title__name link">{{ league }}</span>
  </div>
  <a href="#" class="table link link--underlined">ТАБЛИЦА</a>
  <div class="expanderBlock">
    <ng-content select="[expandBtn]"></ng-content>
  </div>
</div>
