.container {
  min-height: 32px;
  display: grid;
  align-items: center;
  grid-template-columns: 32px 1fr max-content 32px;
  padding: 0 10px;
  background-color: var(--color-events-header-1);
  border-radius: 8px;
  font-size: 14px;
  font-weight: 700;

  &.highlighted {
    background-color: var(--color-events-header-2);
  }
}

.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--color-grey);
  transition: 0.4s;
  cursor: pointer;

  &.inFavourites {
    background-color: var(--color-subscriber);
    border: none;
  }
}

.title {
  display: flex;
  align-items: center;

  &__logo {
    width: 24px;
    height: 13px;
    background-color: var(--color-background);
    margin-right: 5px;
  }

  &__country {
    margin-right: 10px;
  }

  &__name {
    cursor: pointer;
  }
}

.table {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.expanderBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.link {
  color: var(--color-text-1);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &--underlined {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}
