<div (appClickOutside)="showDates = false" class="container">
  <div class="calendar">
    <button [disabled]="minDateSelected$ | async" (click)="onPrevious()" class="calendar__step">
      <
    </button>
    <div (click)="showDates = !showDates" class="calendar__title">
      {{ selectedDate$ | async | date : 'd/M, EEE' }}
    </div>
    <button [disabled]="maxDateSelected$ | async" (click)="onNext()" class="calendar__step">
      >
    </button>
  </div>
  <div *ngIf="showDates" class="datesList">
    <span
      *ngFor="let date of dates$ | async"
      [class.selected]="date.selected"
      (click)="selectDate(date.value)"
      class="datesList__date"
    >
      {{ (date?.title | date : 'd/M, EEEE') ?? 'Сегодня' }}
    </span>
  </div>
</div>
