.container {
  display: flex;
  flex-direction: column;
  font-size: 13px;
}

.calendar {
  display: flex;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  background-color: var(--color-menu);

  &__title {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-text-1);
  }

  &__step {
    background-color: var(--color-menu);
    color: var(--color-text-2);
    outline: none;
    border: none;
    cursor: pointer;

    &[disabled] {
      cursor: default;
      &:hover {
        background-color: transparent;
      }
    }
  }

  &__title,
  &__step {
    padding: 4px 8px;
  }

  &__title:hover,
  &__step:hover {
    background-color: var(--color-menu-hover);
  }
}

.datesList {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: var(--color-background-1);
  box-shadow: 1px 2px 10px 1px #868585;
  z-index: 2;

  &__date {
    color: var(--color-text-1);
    display: flex;
    align-items: center;
    padding: 0 5px;
    height: 30px;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
      background-color: var(--color-background-2-hover);
    }

    &.selected {
      background-color: var(--color-accent-default);
      color: var(--color-white);
    }
  }
}
