@import '~normalize.css';

:root {
  --width-layout: 1048px;

  --zIndex-banner: 1;
  --zIndex-menuMinority: 2;
  --zIndex-burgerContent: 3;
  --zIndex-scrollTop: 4;
  --zIndex-modal-overlay: 5;

  --color-white: #fff;
  --color-black: #000;
  --color-grey: #dbdbdb;

  --color-main-light: #0f2d37;
  --color-main-default: #001e28;
  --color-main-dark: #00141e;

  --color-background-1: #fff;
  --color-background-1-hover: #eee;
  --color-background-2-hover: #e0e0e0;
  --color-background-2: #eee;
  --color-background-3: #e2e2e2;
  --color-background-4: #a7a7a7;

  --color-background-footer: #fff;

  --color-burger: #0f2d37;
  --color-burger-2: #fff;
  --color-burger-hover: #00141e;
  --color-menu: #fff;
  --color-menu-hover: #eee;

  --color-text-1: #000000;
  --color-text-2: #383838;
  --color-text-3: #747474;
  --color-text-4: #a5a5a5;

  --color-accent-default: #ff0046;

  --color-success-default: #14dc4b;

  --color-events-header-1: #e4e3e3;
  --color-events-header-2: #fff2ce;

  --color-subscriber: #fff45c;
}

body.theme--dark {
  --color-background-1: #0f2d37;
  --color-background-1-hover: #103d4d;
  --color-background-2-hover: #103d4d;

  --color-background-2: #010a0f;
  --color-background-3: #2b697e;
  --color-background-4: #b8b8b8;

  --color-burger-2: #010a0f;
  --color-menu: #010a0f;
  --color-menu-hover: #113346;

  --color-background-footer: #010a0f;

  --color-text-1: #c0c0c0;
  --color-text-2: #999999;
  --color-text-3: #727272;
  --color-text-4: #383838;

  --color-events-header-1: #1c4c5c;
  --color-events-header-2: #1c4c5c;
}
