<div class="container">
  <div class="event">
    <div
      (click)="toggleSubscribe()"
      [class.subscribed]="isSubscribed"
      class="event__subscriber"
    ></div>
    <div [class.active]="isActive" class="event__time">
      <ng-container *ngIf="isActive; else completed">{{
        getMinutesFromStart(event.startDate)
      }}</ng-container>
      <ng-container *ngIf="isUpcoming">{{ event.startDate | date : 'shortTime' }}</ng-container>
      <ng-template #completed>Завершен</ng-template>
    </div>
    <div class="event__details">
      <div class="participants">
        <div class="participant">
          <div class="participant__logo">{{ event.homeTeam.emblem }}</div>
          <div class="participant__name">{{ event.homeTeam.nameRu }}</div>
        </div>
        <div class="participant">
          <div class="participant__logo">{{ event.awayTeam.emblem }}</div>
          <div class="participant__name">{{ event.awayTeam.nameRu }}</div>
        </div>
      </div>
      <div class="score">
        <div class="score__home">{{ event.homeTeamScore || '-' }}</div>
        <div class="score__away">{{ event.awayTeamScore || '-' }}</div>
      </div>
    </div>
    <div class="event__divider">
      <app-divider position="vertical"></app-divider>
    </div>
    <div class="event_extraActions"></div>
  </div>
  <app-divider></app-divider>
</div>
