.container {
  padding: 0 10px;
  font-size: 13px;
  transition: 0.2s;
  color: var(--color-text-1);

  &:hover {
    background-color: var(--color-background-1-hover);
  }
}

.event {
  display: grid;
  align-items: center;
  grid-template-columns: 32px 80px 1fr auto minmax(100px, max-content);
  min-height: 46px;
  padding: 5px 0;
  cursor: pointer;

  &__subscriber {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #dad9d9;

    &.subscribed {
      background-color: var(--color-subscriber);
      border: 1px solid var(--color-subscriber);

      &:hover {
        box-shadow: 0 0 5px #fff134;
      }
    }
  }

  &__time {
    text-align: center;
    &.active {
      color: red;
    }
  }

  &__details {
    display: grid;
    grid-template-columns: 1fr minmax(80px, auto);
  }

  &__divider {
    height: 100%;
  }
}

.participants {
  display: flex;
  flex-direction: column;

  .participant {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    &__logo {
      width: 28px;
      height: 14px;
      background-color: #dadada;
      margin-right: 10px;
    }
  }
}

.score {
  &__home {
    margin-bottom: 8px;
  }
}
